
/* ================= NUEVO ================= */

html, body {
    height: 100%; 
    margin: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column; 
  }
  
  main {
    flex: 1;
  }
  

#bienvenido {
    background-color: #4a4a4a;
    /*text-align: center;*/
    padding: 20px;
}

#bienvenido h3 {
    color: #060101;
}

#bienvenido p {
    color: #6c87f0;
}

#catalogo {
    background-color: rgb(115, 196, 196);
}


.card-img-top {
    object-fit: cover;
    height: 200px;
}